<form action="/quizes/<%= quiz.id %>/answer" method="GET">
	Pregunta: <%= quiz.pregunta %> <br>
	<input type="text" name="respuesta" value="Responda aquí">
	<input type="submit" value="Enviar">
</form>